body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* gray-100 */
    color: #1e293b; /* slate-800 */
    position: relative;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 8px 30px rgba(37,99,235,0.06);
    max-width: 400px;
    height: 600px;
    margin: 100px auto;
    border: 1px solid #e6eefc;
    position: relative;
    display: flex;
    flex-direction: column;
}

.button-group {
    margin-top: auto;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #05286bcc; /* primary blue */
}


textarea {
    resize: none;
}

button {
    padding: 15px; /* Increased padding */
    background-color: #2563eb; /* primary blue */
    color: #ffffff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 70%;
    font-size: 16px; /* Increased font size */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px auto; /* Adds vertical spacing between buttons and keeps them centered */
    margin-top: auto; /* This will push the buttons to the bottom */
}

button:hover {
    background-color: #1e40af; /* darker blue on hover */
}

#orderOutput {
    margin-top: 40px;
    text-align: center;
}