body {
    font-family: Arial, sans-serif;
    background-color: rgb(202, 201, 201);
    position: relative;
    margin: 0;
}

.container {
    background: #e4e1e1;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    height: 600px;
    margin: 100px auto;
    border: 1px solid #ddd;
    position: relative;
    display: flex;
    flex-direction: column;
}

.button-group {
    margin-top: auto;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #333;
}


textarea {
    resize: none;
}

button {
    padding: 15px; /* Increased padding */
    background-color: #333131;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 70%;
    font-size: 16px; /* Increased font size */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px auto; /* Adds vertical spacing between buttons and keeps them centered */
    margin-top: auto; /* This will push the buttons to the bottom */
}

button:hover {
    background-color: #747474;
}

#orderOutput {
    margin-top: 40px;
    text-align: center;
}